@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

body {
  font-family: "Source Sans Pro";
}

.background {
  background-image: url(./assets/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.textcolor {
  color: red;
  opacity: 60%;
}
